* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09af0;
  }
}

/* Tablet styles */
@media only screen and (min-width: 401px) and (max-width: 906px) {
  body {
    background-color: #f5cf8e;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff;
  }
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}